<app-stepper></app-stepper>

<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!fundResponse.getFundraisingResponse">
	<div class="spinner-inner">
		<mat-spinner></mat-spinner>
	</div>
</div>

<div class="container" id="step-07">
  <div class="form-container">
    <div class="row">
      <h3 *ngIf="fundsMet">Your Fundraising Snapshot</h3>
      <div *ngIf="!fundsMet">
        <h4>Congratulations, you have met your fundraising goal and will complete Online Check-In.</h4>
        <p *ngIf="data.participationType === 'Crew'">
          Thank you for supporting the Enbridge Ride to Conquer Cancer. As a Crew Member, you have no fundraising minimum. Click the 'Next' button to complete your Online Check-In.
        </p>
      </div>
    </div>

    <div class="row" *ngIf="regResponse && checkinStatus !== 'committed' && checkinStatus !== 'paid'">
      <!--<div class="col-md" *ngIf="data.username || data.consUserName">-->
      <!--<p>Username:</p>-->
      <!--<h4 class="txt-blue">{{data.consUserName || data.username}}</h4>-->
      <!--</div>-->
      <div class="col-md" *ngIf="minimumGoal">
        <p>Minimum required:</p>
        <h4 class="txt-blue">${{minimumGoal}}</h4>
      </div>
      <div class="col-md" *ngIf="amountRaised">
        <p>Amount raised:</p>
        <h4 class="txt-blue">${{amountRaised}}</h4>
      </div>
      <div *ngIf="upsellResponse === 'Yes'" class="col-md">
        <p>2019 Registration:</p>
        <h4 class="txt-blue">${{upsellPrice}}</h4>
      </div>
      <div *ngIf="upsellResponse === 'No'" class="col-md">
        <p>2019 Registration:</p>
        <h4 class="txt-blue">$0</h4>
      </div>
      <div *ngIf="upsellResponse === 'Yes' && totalFundsNeeded > 0" class="col-md">
        <p>Remaining Balance:</p>
        <h4 class="txt-blue">${{fundsNeededPlusUpsell}}</h4>
      </div>
      <div *ngIf="upsellResponse === 'No' && totalFundsNeeded > 0" class="col-md">
        <p>Remaining Balance:</p>
        <h4 class="txt-blue">${{totalFundsDeci}}</h4>
      </div>
      <div *ngIf="upsellResponse === 'No' && totalFundsNeeded <= 0" class="col-md">
        <p>Remaining Balance:</p>
        <h4 class="txt-blue">$0</h4>
      </div>
      <div *ngIf="upsellResponse === 'Yes' && totalFundsNeeded <= 0" class="col-md">
        <p>Remaining Balance:</p>
        <h4 class="txt-blue">${{upsellPrice}}</h4>
      </div>
    </div>
    <div class="row" *ngIf="fundsMet">
      <p *ngIf="upsellResponse === 'Yes' && !fundraisingMetGoal">
        <strong>
          Thanks for signing up for the 2019 Ride! To complete your 2019 fundraising commitment and finalize your
          2019 registration, please complete your transaction using the Pay My Balance button or pay a $2 deposit to commit to your fundraising.
        </strong>
      </p>
      <p *ngIf="upsellResponse === 'No' && !fundraisingMetGoal">Take a moment to check the above for your current fundraising progress. If you have yet to reach the minimum fundraising goal, you may choose to make either an <strong>Instant Self-Pledge</strong> or a <strong>Delayed Self-Pledge</strong> to complete it. Please note that all Riders must reach the minimum fundraising goal prior to the start of The Ride-or commit to a Delayed Self-Pledge to participate in the event.</p>

    </div>
    <div class="row" *ngIf="fundraisingMetGoal === true && upsellResponse === 'Yes' && checkinStatus !== 'committed' && checkinStatus !== 'paid'">
      <p>
        <strong>
          Congratulations on reaching your fundraising commitment! To finalize your registration for the 2019
          event, please select the Pay My Balance button below.
        </strong>
      </p>
    </div>

    <!--BEGIN DSP / ISP -->
    <div class="border-btm" *ngIf="hideDSP === true || hideISP === true"></div>

    <!-- ISP ROW -->
    <div class="row" *ngIf="hideISP === true">
      <h4 *ngIf="!fundraisingMetGoal">Instant Self-Pledge</h4>
      <h4 *ngIf="upsellResponse === 'Yes' && fundraisingMetGoal">Pay For My 2019 Registration</h4>
      <p *ngIf="!fundraisingMetGoal">
        An Instant Self-Pledge is the option for a Rider to pay the remainder of the minimum fundraising goal balance with a valid credit card. Should you decide to make an Instant Self-Pledge, <strong>you may also use this opportunity to pre-register for The 2019 Ride to Conquer Cancer or purchase other items and services.</strong>
      </p>
      <p *ngIf="upsellResponse === 'Yes' && fundraisingMetGoal">
        Complete your 2019 Ride to Conquer Cancer registration by selecting the Pay My Balance button below.
      </p>
      <a *ngIf="fundsMet === false && upsellResponse === 'No'" target="_blank" href="{{ispURL}}">
        <button class="btn-bw dsp-isp">Pay My Balance</button>
      </a>
      <a *ngIf="fundsMet === true && upsellResponse === 'Yes'" target="_blank" href="{{ispURL}}">
        <button *ngIf="buttonFundsNeeded === false" class="btn-bw dsp-isp">Pay My Balance: ${{upsellPrice}}</button>
      </a>
      <a *ngIf="fundsMet === true && upsellResponse === 'No'" target="_blank" href="{{ispURL}}">
        <button class="btn-bw dsp-isp">Pay My Balance: ${{totalFundsDeci}}</button>
      </a>
      <a *ngIf="totalFundsNeeded > 0 && upsellResponse === 'Yes'" target="_blank" href="{{ispURL}}">
        <button *ngIf="buttonFundsNeeded === true" class="btn-bw dsp-isp">Pay My Balance: ${{fundsNeededPlusUpsell}}</button>
      </a>
    </div>

    <!-- DSP ROW -->
    <div class="row" *ngIf="hideDSP === true">
      <h4>Delayed Self-Pledge</h4>
      <p>
        A Delayed Self-Pledge is the option for a Rider to commit to paying the remainder of the minimum fundraising goal balance at a later date. Should you decide to make a Delayed Self-Pledge, an initial deposit of $2 will automatically be charged to your credit card. You will then be given an additional eight weeks starting from the first day of The Ride, August 25, 2018, to continue fundraising. At the conclusion of those eight weeks, any outstanding minimum fundraising goal balance will be charged to your credit card. <strong>You may also use this opportunity to pre-register for The 2019 Ride to Conquer Cancer or purchase other items and service.</strong>
      </p>
      <a target="_blank" href="{{dspURL}}">
        <button class="btn-bw dsp-isp">Pay $2 Deposit</button>
      </a>
    </div>

    <div class="border-btm" *ngIf="hideDSP === true || hideISP === true"></div>
    <!-- END DSP / ISP -->

    <div class="row" *ngIf="fundsMet">
      <h4>Recheck My Status</h4>
      <p>Have you made an Instant Self-Pledge or Delayed Self-Pledge in the last few minutes? Click the "Update Status" button below to refresh the page and display your current fundraising progress.</p>
      <button (click)="reload()" class="btn-bw">Update Status</button>
    </div>

    <div class="border-btm"></div>

  </div>
  <div class="row bottom-nav-row">
    <div class="form-container">
      <div class="btn-container">
        <button
          mat-raised-button
          color="accent"
          class="prev-btn button-font"
          (click)="previousFlowStep()"
          *ngIf="checkInCommitted">
          Back
        </button>
        <button
          mat-raised-button
          color="primary"
          class="next-btn button-font"
          (click)="nextFlowStep()"
          [disabled]="fundsMet">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
